@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e8eefd;
}

::-webkit-scrollbar-thumb {
    background: #084DF2;
}

::-webkit-scrollbar-thumb:hover {
    background: #002577;
}
